/* COLOR PALETTE: https://coolors.co/d8222a-fffffe-1a1919 */
* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
}

.map-container {
  height: 500px;
  width: 1000px;
  outline: 4px #1a1919 solid;
}

nav {
  height: 3rem;
  background-color: #d8222a;
  display: flex;
  flex-direction: row;
}

nav div {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

nav div a {
  color: #fffffe;
  text-decoration: none;
}
